@font-face {
  font-family: 'Short Stack';
  font-style: normal;
  font-weight: 400;
  src: local('Short Stack'), local('ShortStack'), url('http://themes.googleusercontent.com/static/fonts/shortstack/v3/6Lbgh4PDdLpSiP41rQoGa4bN6UDyHWBl620a-IRfuBk.woff') format('woff');
}