
*{
    margin:0;
    padding:0;
}

.media-show {
    width:100%;
    height:80%;
    background-color:RGBA(122,120,100,1);
}

.home-menu {
    width:100%;
    height:20%;
    cursor:pointer;
}


.img-menu {
    height:100%;
    width:100%;
}

.text-menu {
    height:50px;
    margin-top:-50px;
    position:relative;
    height:50px;
    width:100%;    
}

.img-menu ul{
    height:100%;
    width:100%;
    display:block;    
}

.img-menu li{
    float:left;
    display:block;
    width:25%;
    height:100%;
    list-style:none;
    background-color:RGBA(10,10,10,0.5);
}

.img-menu li a{
    float:left;
    display:block;
    width:100%;
    height:100%;
    list-style:none;
}

.text-menu li {
    float:left;
    width:25%;
    height:100%;
    display:block;
    text-align:center;
    list-style:none;
    vertical-align:middle;
}
.intro img {
    width:100%;
    height:100%;
}
